# Server Configuration
PORT=5000
NODE_ENV=production

# PostgreSQL Connection String (Prisma / pg)
DATABASE_URL="postgresql://neondb_owner:npg_CAZQ9XDOdI7L@ep-frosty-leaf-b5al4el7-pooler.c-7.us-east-2.aws.neon.tech/Read_Acdmi?sslmode=require&channel_binding=require"

# JWT Authentication Secret
JWT_SECRET="super_secret_read_academy_jwt_key_2026"
JWT_EXPIRES_IN="7d"

# Frontend Origin for CORS
FRONTEND_URL="http://localhost:5173", "https://read-acdmi.vercel.app/"
